$mainColor: rgb(123,154,87);
$secondaryColor: rgb(207,192,87); //buscar color secundario
$whiteColor: white;
$titleFont: 'Kalam', cursive; //buscar tipografías ideales
$mainFont: 'Didact Gothic', sans-serif;